.profile {  
  &__items {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;  
  }

  &__description {
    text-align: left;
    padding-left: 10px;
  }
}

.portfolio {  
  &__items {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  &__description {
    text-align: left;
    padding-left: 10px;
  }
}

.menu-open {
  & .menu__button {
    & > span {
      &:nth-child(1) {
        transform: translateY(8px) rotate(135deg); 
      }

      &:nth-child(2) {
        transform: scale(0)
      }

      &:nth-child(3) {
        transform: translateY(-11px) rotate(-135deg); 
      }
    }
  }

  & .menu {
    transform: translateX(-200px);
  }
}

.menu {
  right: -200px;
  width: 200px;

  &__ul {
    font-size: 22px;
  }

  &__li {
    & > a {
      color: white;
      text-decoration: none;
      line-height: 40px;
      &:hover{
        color: #738e99;
      }
    }
  }
}